body {
  margin: 0;
}

header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  height: 80px;
}

.amountManager {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calcProbability {
  margin-bottom: 8px;
}

.amountOperationButtons {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.decrementLiveAmount {
  margin-right: 24px;
}

.reverseButton {
  display: block;
  margin: 16px auto;
}

.resetButton{
  margin: 24px auto;
}